/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #031a08ef;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(212, 212, 212);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    background-color: #1c3a23;
    color: white;
}

.sidenav #hv:hover {
    background-color: #1c3a23;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 50px;
    color: rgb(141, 167, 154);
}


/* Style page content */

.main {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 50px;
    /* Same as the width of the sidebar */
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.courselist {
    background-color: #f1f1ef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    height: 110%;
    border-left: #530120 solid 10px;
    transition-property: box-shadow;
    transition-duration: 0.25s;
}

.courselist:hover {
    box-shadow: 3px 3px 5px rgb(61, 61, 61);
    transition-duration: 0.25s;
}

.allCourses {
    display: block;
}

#upload {
    height: 50px;
    cursor: pointer;
}

#upload:hover {
    background-color: rgba(0, 0, 0, 0.226);
}

#submit {
    height: 50px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgba(0, 0, 0, 0.226);
}

#download {
    height: 50px;
    cursor: pointer;
}

#download:hover {
    background-color: rgba(0, 0, 0, 0.226);
}

table {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

td {
    text-align: center;
    padding-right: 2em;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.classtype {
    color: rgb(75, 24, 0);
}

.classcode {
    color: rgb(143, 0, 0);
}

.classname {
    color: rgb(128, 40, 0);
    font-weight: bolder;
}

.classsize {
    color: rgb(90, 62, 50);
}

body {
    background-image: url(../assets/instructorcourses.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Charmonman', cursive;
}

.sidenav img {
    display: block;
    margin: auto;
}

#tablenavbar {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

#tablenavbar td,
tr {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

h1 {
    text-align: center;
    padding-top: 1em;
    color: rgb(41, 37, 37);
}