/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #898590;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(83, 1, 32);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    background-color: #d0cbd8;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 30px;
    color: #2a2a25;
}


/* Style page content */

.main {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 50px;
    /* Same as the width of the sidebar */
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Dropdown Button */

.dropbtn {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #7e7979, #2d5037);
    color: aliceblue;
    padding: 16px;
    font-size: 16px;
    border-radius: 0.5em;
    border-style: groove;
    border-color: rgb(93, 82, 82);
    position: fixed;
    margin-left: 300px;
    margin-top: 5px;
}

.dropbtn:hover {
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: fixed;
    display: inline-block;
    margin-top: 5px;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 52px;
    margin-left: 300px;
    border-radius: 0.5em;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 0.5em;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #494646, #1f3826);
    color: rgb(171, 178, 194);
}

.courselist {
    background-color: #f1f1ef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: #530120 solid 10px;
    border-radius: 5px;
    height: 110%;
    transition-property: box-shadow;
    transition-duration: 0.25s;
}

.courselist:hover {
    box-shadow: 3px 3px 5px rgb(61, 61, 61);
    transition-duration: 0.25s;
}

#upload {
    height: 50px;
    cursor: pointer;
}

#submit {
    height: 50px;
    cursor: pointer;
}

#download {
    height: 50px;
    cursor: pointer;
}

table {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

td {
    text-align: center;
    padding-right: 2em;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.classtype {
    color: rgb(75, 24, 0);
}

.classcode {
    color: rgb(143, 0, 0);
}

.classname {
    color: rgb(128, 40, 0);
    font-weight: bolder;
}

.classsize {
    color: rgb(90, 62, 50);
}

body {
    background-image: url(../assets/instructorcourses.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.sidenav img {
    display: block;
    margin: auto;
}

#tablenavbar {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

#tablenavbar td,
tr {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

button {
    margin-top: 1em;
    height: 40px;
    color: aliceblue;
    padding: 0.5em;
    border: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #7e7979, #2d5037);
    border-radius: 0.5em;
    border-style: groove;
    border-color: rgb(93, 82, 82);
}

button:hover {
    cursor: pointer;
}

h1 {
    color: rgb(41, 37, 37);
}