body {
    background-image: url(../assets/studentprofle.png);
    background-attachment: fixed;
    background-size: cover;
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #898590;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(83, 1, 32);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    background-color: #d0cbd8;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 30px;
    color: #2a2a25;
}


/* Style page content */

.main {
    margin-left: 250px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav img {
    display: block;
    margin: auto;
}

#tablenavbar {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

#tablenavbar td,
tr {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 1em;
    color: rgb(41, 37, 37);
}