/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #898590;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(83, 1, 32);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    background-color: #d0cbd8;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 30px;
    color: #2a2a25;
}


/* Style page content */

.main {
    margin-left: 250px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

form {
    width: 120%;
    border-radius: 4px;
    display: block;
    margin: auto;
    margin-left: 10em;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.flexit {
    width: 100%;
    line-height: 50px;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    margin-top: 0;
}

.flexCont {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(83, 1, 32);
    margin-left: 200px;
    height: 50px;
    width: 100%;
    margin-top: 0;
    position: fixed;
}

.requests {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    width: 700px;
}

.groupstudents {
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    width: 700px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://imgix.elitedaily.com/uploads/image/2020/3/22/0dd3c16f-9571-44bb-a74b-1c08356fd1b1-harry-potter-975362_1920.jpg);
}

table {
    border: black solid 1px;
    background-color: rgba(255, 235, 205, 0.733);
}

th,
td,
tr {
    text-align: center;
    border: black solid 1px;
}

h1 {
    text-align: center;
    padding-top: 1em;
}

#hashtag {
    padding: 1em;
}

li {
    padding-right: 2em;
    list-style-type: none;
}

#research_student {
    width: 200px;
}

#research_note {
    padding-left: 1em;
    padding-right: 1em;
}

button img {
    height: 30px;
}

button {
    margin-right: 5em;
    background-color: rgba(41, 26, 3, 0.849);
    width: 10%;
    height: 30px;
    color: white;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 1s;
}

button:hover {
    cursor: pointer;
    background-color: rgba(87, 56, 11, 0.63);
}

#decision {
    margin: 10px;
}

.sidenav img {
    display: block;
    margin: auto;
}

#tablenavbar {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

#tablenavbar td,
tr {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

#text_input {
    width: 20em;
    font-size: 20px;
    border-radius: 4px;
    color: black;
}

.select {
    width: 20%;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 14px;
}

textarea::placeholder {
    font-family: sans-serif;
    font-size: 16px;
}

#upload {
    cursor: pointer;
}