/* The sidebar menu */

body {
    background-image: url(../assets/studentprofle.png);
    background-attachment: fixed;
    background-size: cover;
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #350404ef;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(212, 212, 212);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: white;
}

.sidenav #hv:hover {
    background-color: #8a6c6cef;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 30px;
    color: #d8b7adef;
}


/* Style page content */

.main {
    margin-top: 200px;
    margin-left: 250px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav img {
    display: block;
    margin: auto;
}

#tablenavbar {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
    border-collapse: collapse;
    width: 100%;
}

#tablenavbar td,
tr {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

h1 {
    text-align: center;
    padding-top: 1em;
    color: rgb(41, 37, 37);
}

.div1 {
    float: left;
    padding-top: 120px;
    height: 500px;
    margin-left: 2em;
    font-family: 'Domine', serif;
}

.div1 button {
    background-color: rgba(202, 198, 198, 0.911);
    color: rgb(36, 35, 35);
    font-family: 'Domine', serif;
}

.main table {
    padding: 2em;
    text-align: left;
    border-radius: 1em;
    background-color: rgba(82, 110, 110, 0.952);
    color: beige;
    margin-left: 750px;
    height: 500px;
    width: 25%;
    font-family: 'Domine', serif;
    border: dashed rgb(88, 19, 19) 0.5em;
}

button img {
    height: 40px;
}

button {
    background-color: rgb(243, 161, 161);
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 1em;
    font-size: 25px;
    border: solid rgb(92, 62, 47) 0.2em;
}

button:hover {
    background-color: rgb(172, 139, 139);
    cursor: pointer;
}

.main th {
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

.main img {
    height: 100px;
    width: 100px;
}