body {
    background-image: url(../assets/secretarycreatecourse.jpeg);
    background-size: cover;
    background-attachment: fixed;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #898590;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(83, 1, 32);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    background-color: #d0cbd8;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 30px;
    color: #2a2a25;
}

.sidenav img {
    display: block;
    margin: auto;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    background-color: rgb(66, 24, 0);
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.main {
    margin-left: 40px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

form {
    margin-left: 13em;
    width: 79%;
    border-radius: 4px;
    background-color: rgba(71, 68, 64, 0.705);
    padding: 1em 3em;
    height: 1020px;
}

.inside_form {
    margin-left: 8em;
    width: 25em;
}

#title {
    color: wheat;
    text-align: center;
    font-weight: lighter;
}

#text_input {
    width: 20em;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}

#text_input2 {
    width: 21em;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(41, 26, 3, 0.849);
    width: 8%;
    height: 5%;
    color: white;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 1s;
}

button:hover {
    cursor: pointer;
    background-color: rgba(87, 56, 11, 0.63);
}

.select {
    width: 65%;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 14px;
}

a {
    cursor: pointer;
}

#time {
    margin-left: 2em;
}

#tablenavbar td,
tr {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
}