body {
    background-image: url(../assets/secretaryprofile.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Charmonman', cursive;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #1b0833f8;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(212, 212, 212);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    background-color: #897f95f8;
    color: white;
}

.sidenav #hv:hover {
    background-color: #897f95f8;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 50px;
    color: #c5bad1f8;
}


/* Style page content */

.main {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 50px;
    /* Same as the width of the sidebar */
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav img {
    display: block;
    margin: auto;
}

#tablenavbar {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 1em;
    color: rgb(41, 37, 37);
}