body {
    background-image: url(https://wallpaperaccess.com/full/541378.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.headerbox {
    background-color: rgba(189, 174, 158, 0.781);
    margin-top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

#li1 {
    width: 200px;
}

#li2 {
    width: 450px;
}

#li3 {
    float: right;
    padding-top: 2.5em;
}

#td2 {
    margin-left: 120px;
}

#hogwartslogo {
    width: 200px;
    height: 200px;
}

#socialmedia {
    width: 50px;
    height: 50px;
    padding-top: 2em;
    padding-bottom: 1em;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 4px;
    background-color: rgba(71, 68, 64, 0.596);
    padding: 1em 3em;
    height: 1000px;
}

#title {
    text-align: center;
    color: white;
    font-weight: lighter;
}

#text_input {
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

button {
    background-color: rgba(41, 26, 3, 0.63);
    width: 60%;
    padding: auto;
    margin-left: 100px;
    color: white;
    border-radius: 4px;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
}

.select {
    width: 70%;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 3em;
}

#radio {
    margin-left: 3em;
}

label::before {
    content: url(https://img.icons8.com/color/48/000000/snitch.png);
}

a {
    cursor: pointer;
}