body {
    background-image: url(https://wallpaperaccess.com/full/541378.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.headerbox {
    background-color: rgba(189, 174, 158, 0.781);
    margin-top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

#li1 {
    width: 200px;
    height: 8px;
}

#li2 {
    width: 700px;
    height: 8px;
}

#li3 {
    float: right;
    width: 220px;
    padding-top: 2.5em;
    height: 8px;
}

#hogwartslogo {
    width: 200px;
    height: 200px;
}

#socialmedia {
    width: 50px;
    height: 50px;
    padding-top: 2em;
    padding-bottom: 1em;
}

#socialmedia:hover {
    background-color: rgba(0, 0, 0, 0.226);
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 4px;
    background-color: rgba(71, 68, 64, 0.596);
    padding: 1em 3em;
}

#title {
    text-align: center;
    color: white;
    font-weight: lighter;
}

#text_input {
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(41, 26, 3, 0.849);
    width: 30%;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 1s;
}

button:hover {
    cursor: pointer;
    background-color: rgba(87, 56, 11, 0.63);
}

.select {
    width: 70%;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 3em;
}

#radio {
    margin-left: 3em;
}

label::before {
    content: url(https://img.icons8.com/color/48/000000/snitch.png);
}

a {
    cursor: pointer;
}

#check {
    color: white;
    text-align: center;
}

#link {
    color: white;
    font-weight: 600;
}

footer {
    color: wheat;
    margin-left: 80%;
    font-size: 18px;
}